/* =========================
   MOBILE / TABLET AJUSTMENTS
========================= */

@media (max-width: 1099px) {
  .global-volume {
    display: none;
  }

  .next-music-preview {
    display: none !important;
  }

  .next-music-preview img {
    width: 56px;
    height: 56px;
  }
}
